.sample_01{
width: 50%;
border-collapse: collapse;
}

th.pokemon{
width: 10%;
padding: 6px;
color: #333;
background-color: #fff;
border: 1px solid #b9b9b9;
}

th.araki{
width: 10%;
padding: 6px;
color: #333;
background-color: #ccf;
border: 1px solid #b9b9b9;
}

th.hiraiwa{
width: 10%;
padding: 6px;
color: #333;
background-color: #cfc;
border: 1px solid #b9b9b9;
}

th.yamasho{
width: 10%;
padding: 6px;
color: #333;
background-color: #eec;
border: 1px solid #b9b9b9;
}

th.matsunaga{
width: 10%;
padding: 6px;
color: #333;
background-color: #fcc;
border: 1px solid #b9b9b9;
}


.sample_01 td{
padding: 6px;
text-align: center;
vertical-align: center;
background-color: #fff;
border: 1px solid #b9b9b9;
}

td.araki{
color: #333;
background-color: #ccf;
}

td.hiraiwa{
color: #333;
background-color: #cfc;
}

td.yamasho{
color: #333;
background-color: #eec;
}

td.matsunaga{
color: #333;
background-color: #fcc;
}





